Content-type: text/html

<title>{0}</title>
<link rel='stylesheet' href='./css/0ch.css' title='0ch'>
<link rel='alternate stylesheet' href='./css/4x13.css' title='4x13'>
<link rel='alternate stylesheet' href='./css/mob.css' title='mob'>
<link rel='alternate' type='application/atom+xml' title='threads' href='?m=atom;r=t'>
<link rel='alternate' type='application/atom+xml' title='posts' href='?m=atom;r=p'>
<meta name=viewport content='width=850px;initial-scale:auto'>
<script language='javascript' src='./js/style.js'></script>
