<a name="reply"></a><div class="reply">
<form method='post' action='.' style='width:520px'>
<input type='hidden' name='m' value='reply'>
<input type='hidden' name='t' value='{0}'>
<table style='width:420px'>
  <tr><td colspan='3' style='padding: 0.7em 0 0.7em 10%;
	  background-color: #444; color: #efefef'>    
  <b>Reply</b>
<tr><td style='width:64%; height: 2.6em'>
  Name: &nbsp; <input type='text' name='name' maxlength='18'
	placeholder="Anonymous" style="width:69%;">
    <td style='width:22%'>
      Bump: <input type='checkbox' name='bump' checked>
      <td style='width:14%'>
	<input type='submit' value='Post'>
<tr><td colspan='3'>	
    <textarea name='comment' rows='9' style='width:100%' id='{1}'></textarea>
  </table>
</form></div></div>
